<div class="ui container">
  <img class="ui fluid image" src="/business-meeting.jpg">

  <div class="ui segment">
    <h1 class="ui center aligned header">Forge a new path.</h1>
    <div class="item">
      Novum Opus is a life consulting service for young adults looking to enter the adult world the smart way.
    </div>
    <div class="item">
      We help our clients make career and lifestyle decisions based on their interests, background, and financial practicality.
    </div>
    <div class="item">
      Sign up below if you are interested in a free introductory consultation.
    </div>
  </div>

  <% if @current_user.blank? %>
    <div class="ui segment">
      <%= form_for @user, html: {class: "ui form"} do |f| %>
        <div class="field">
          <%= f.label :name, "Full name" %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <%= f.submit "Schedule a consultation", class: "ui button" %>
      <% end %>
    </div>
  <% end %>
</div>
