<div class="ui container">
  <% unless @current_user %>
    <div class="ui segment">
      <h1 class="ui center aligned header">
        Novum Opus is a social platform that allows peers to share career advice.
      </h1>
    </div>
  <% end %>
  <div class="ui segment">
    <h2 class="ui header">Latest Job Experiences</h2>
  </div>
  <% @job_experiences.each do |je| %>
    <div class="ui segment">
      <div class="ui header">
        <%= je.position %> at <%= je.company %>
      </div>
      <div class="ui list">
        <div class="item">
          <div class="header">Experience</div>
          <%= je.experience %>
        </div>
        <div class="item">
          <div class="header">Pay</div>
          <%= je.pay %>
        </div>
        <div class="item">
          <div class="header">Recommendation</div>
          <%= je.recommendation %>
        </div>
        <div class="ui label">
          Location: <%= je.city %>, <%= je.state %>
        </div>
        <div class="ui label">
          Where to apply: <a class="experience-link" href="<%= je.website %>"><%= je.website %></a>
        </div>
        <div class="ui label">
          Created by <%= je.creator.first_name %> <%= je.creator.last_name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
