<!DOCTYPE html>
<html>
  <head>
    <title>Novum Opus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag  "//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <% if flash.notice %>
      <p class="ui floating positive message">
        <%= flash.notice %>
      </p>
    <% end %>

    <% if flash.alert %>
      <p class="ui floating negative message">
        <%= flash.alert %>
      </p>
    <% end %>

    <div class="ui menu">
      <%= link_to "Novum Opus", root_path, class: "item" %>
      <div class="right menu">
        <% if @current_user %>
          <%= link_to "Share Your Experience", new_job_experience_path, class: "item" %>
          <div class="item"><%= @current_user.first_name %> <%= @current_user.last_name %></div>
        <% else %>
          <%= link_to "Sign Up", sign_up_path, class: "item" %>
          <%= link_to "Sign In", sign_in_path, class: "item" %>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
