<!DOCTYPE html>
<html>
  <head>
    <title>Novum Opus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/stairs.png">
    <link rel="apple-touch-icon-precomposed" href="/stairs.png">
    <!-- <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <% if flash.notice %>
      <p class="ui floating positive message" id="flash-message">
        <%= flash.notice %>
      </p>
    <% end %>

    <% if flash.alert %>
      <p class="ui floating negative message" id="flash-message">
        <%= flash.alert %>
      </p>
    <% end %>

    <div class="ui menu">
      <div class="ui dropdown item left-nav-mobile">
        <%= link_to "Novum Opus", root_path, class: "root-link" %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "Latest Job Experiences", job_experiences_path, class: "item" %>
          <% if @current_user %>
            <%= link_to "My Experiences", user_experiences_path, class: "item left-nav" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Novum Opus", root_path, class: "item left-nav root-link" %>
      <%= link_to "Latest Job Experiences", job_experiences_path, class: "item left-nav" %>
      <% if @current_user %>
        <%= link_to "My Experiences", user_experiences_path, class: "item left-nav" %>
      <% end %>

      <div class="right menu">
        <% if @current_user %>
          <%= link_to "Share", new_job_experience_path, class: "item" %>
          <div class="ui dropdown item">
            <%= @current_user.first_name %> <%= @current_user.last_name %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to "Sign Out", session_path(@current_user), method: :delete, class: "item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
